[submodule "appdata/agent_modes/skills/awesome-claude-skills-security"]
	path = appdata/agent_modes/skills/awesome-claude-skills-security
	url = https://github.com/Eyadkelleh/awesome-claude-skills-security.git
[submodule "appdata/agent_modes/skills/claude-code-pentest"]
	path = appdata/agent_modes/skills/claude-code-pentest
	url = https://github.com/Orizon-eu/claude-code-pentest.git
[submodule "appdata/agent_modes/skills/claude-code-owasp"]
	path = appdata/agent_modes/skills/claude-code-owasp
	url = https://github.com/agamm/claude-code-owasp
[submodule "appdata/agent_modes/skills/secskills"]
	path = appdata/agent_modes/skills/secskills
	url = https://github.com/trilwu/secskills
[submodule "appdata/agent_modes/skills/cybersecurity-claude-skills"]
	path = appdata/agent_modes/skills/cybersecurity-claude-skills
	url = https://github.com/mahmutka/cybersecurity-claude-skills
[submodule "appdata/agent_modes/skills/communitytools"]
	path = appdata/agent_modes/skills/communitytools
	url = https://github.com/transilienceai/communitytools
[submodule "appdata/agent_modes/skills/pentest-ai-agents"]
	path = appdata/agent_modes/skills/pentest-ai-agents
	url = https://github.com/0xSteph/pentest-ai-agents
